body {
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 200%;
    }

h1 {
    font-size: 5.625rem;
    margin: 0px;
    font-family: "Sacramento", cursive;
    }

h2 {
    font-family: "Montserrat", sans-serif;
    }

h3 {
    font-family: "Montserrat", sans-serif;
    }

h1, p {
    color: #1D5C63;
    }

table {
    position: relative;
    left: 570px;
    text-align: center;
    }

span {
    text-decoration: underline;
    }

.top-container {
    background-color: #EDE6DB;
    padding-top: 100px;
    }

.middle-container {
    }

.bottom-container {
    }

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
    }

.bottom-cloud {
    position: absolute;
    }

.my_img {
    width: 200px;
    height: 200px;
    }