body {
    margin: 0px;
    }

h1 {
    margin: 0px;
    }

h1, p {
    color: #1D5C63;
    }

.top-div {
    background-color: #EDE6DB;
    }

.middle-div {
    width: 200px;
    height: 200px;
    background-color: red;
    }

.bottom-div {
    width: 200px;
    height: 200px;
    background-color: blue;
    }